In [2]:
for i in range(2, 21, 2):
    print(i)


    

names = ["ali", "ahmed", "evelyn", "fatima"]
for name in names:
    print(name.upper())



for i in range(10, 0, -1):
    print(i)

    

numbers = [3, 5, 9, 12, 14, 18, 20]
for huge in numbers:
    if huge % 3 == 0:
        print(huge)

        

for i in range(1, 11):
    print(i**2)



temp_c = [0, 20, 30, 40, 100]
for cel in temp_c:
    fah = (cel * 9/5) + 32
    print(fah)



for i in range(1, 11):
    print("5 x", i, "=", 5*i)



nums = [1, 2, 3, 4, 5, 6]
total = 0
for n in nums:
    total += n
print(total)



text = "Python"
for ch in text:
    print(ch)


fruits = ["apple", "banana", "strawberry", "pear", "pineapple"]
for fruit in fruits:
    if len(fruit) > 5:
        print(fruit)

2
4
6
8
10
12
14
16
18
20
ALI
AHMED
EVELYN
FATIMA
10
9
8
7
6
5
4
3
2
1
3
9
12
18
1
4
9
16
25
36
49
64
81
100
32.0
68.0
86.0
104.0
212.0
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
21
P
y
t
h
o
n
banana
strawberry
pineapple